name: Build Forge Mod

on:
  workflow_dispatch:
  push:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: "17"

      - uses: gradle/actions/setup-gradle@v3
        with:
          gradle-version: 8.8

      - name: Build
        run: gradle build --no-daemon

      - uses: actions/upload-artifact@v4
        with:
          name: simpledrills_safebreak_jar
          path: build/libs/*.jar
