name: Build Forge Mod

on:
  workflow_dispatch:
  push:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: '17'

      - name: Generate Wrapper
        run: gradle wrapper

      - name: Build
        run: ./gradlew build --no-daemon

      - name: Upload Jar
        uses: actions/upload-artifact@v4
        with:
          name: simpledrills_safebreak_jar
          path: build/libs/*.jar
